@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

nav{
width: auto;
   height: 700px;
   text-align: center;
}



.photo{
    margin-top: 36px;
    width: 280px;
    height: 240px ;
}

.write{
    font-size: 48px;
}
.buttonn{
    background-color: rgba(13, 19, 33, 1);
    font-weight: bold;
   color: rgb(255, 255, 255);
   padding: 15px 50px;
  border-radius: 5px;
  border: none;
}
.secondary-background{
    background-image: url('../assets/Hero-bg.png');
}









.head-2{
    text-align: center;
    padding-top: 35px;
    width: auto;
  
}
.bold{
    
    font-size: 32px;
  font-weight: bold;
  

}
.font{
    font-size: 16px;

}



.main-cc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
background-color: rgba(13, 19, 33, 0.02);
margin-top: 50px;
}
.evan-cc{
    max-height: 200px;
    justify-content: flex-start;
}


.btn-pp{
    background-color: white;
    font-weight: bold;
    color: rgba(13, 19, 33, 1);
   padding: 20px 30px;
  border-radius: 5px;
  border: none;
}




.main-cc-2{
    display: flex;
    
    text-align: center;
    justify-content: space-between;
align-items: center;
background-color:rgba(13, 19, 33, 0.02);



margin-top: 50px;


}


.head-4{
    text-align: center;
}
    
.top{
    font-size: 50px;}
   

.main-class{
    margin-top: 80px;

}


.video{
    text-align: center;
    margin-top: 50px;
}
  
   

.title-1{
    text-align: center;
    font-size: 32px;
}
.title-2{
    text-align: center;

}

.skills-container{
    display: flex;
    gap: 50px;
    justify-content: center;
 
}


.main-99{
    margin: 70px ;
}

.skills-container{
    margin-top: 60px;
    padding-top: 40px;
    

  
   
}
.skill-1{
    background-color: rgba(255, 76, 30, 0.05);
}
.skill-2{
 background-color: rgba(0, 76, 232, 0.05);
}
.skill-3{
    background-color: rgba(255, 223, 0, 0.05);
}

.main-999{

    text-align: center;
    background-image: url('../assets/handshake.jpg');
}
   

.hade-000{
    font-size: 50px;
}
.main-footer{
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    padding: 30px;}
.page{
    font-size: 20px ;
}